<h1>Listing downloads (paging by client: list.js)</h1>

<div id="file-list">

  <div>
    <%= "pagenate by Client" %> | 
    <%= link_to "more  by Server(Kaminari)",    indexKaminari_downloads_path %> | 
    <%= link_to "pagenate by Server(Kaminari)", indexKaminariTable_downloads_path %> | 
    <%= link_to "pagenate by Server(Wicegrid)", indexWicegrid_downloads_path %>
    <br/><br/>
    <hr/>
  </div>
  
  <div>
    絞込み: <input type="text" class="search">
    　<span id="time"></span>
  </div>
  
  <div class="paginationTop paging"></div>
  <div class="paging-sep"></div>
  
  <table class="zebra_stripe">
    <thead>
      <tr>
	<th><%= link_to t_attr("idx"), "#", class: :sort, :"data-sort" => :idx -%></th>
	<th><%= link_to t_attr(:"open_at"), "#", class: :sort, "data-sort" => :"open_at" -%></th>
	<th><%= link_to t_attr(:name), "#", class: :sort, "data-sort" => :name -%></th>
	<th colspan="5">
	  表示<%= select_tag('page[per]',
		  options_for_select([
	          ['10', '10'], ['20', '20'], ['50', '50'], ['100', '100'], ['200', '200'], ['400', '400'], ['1000', '1000']
		  ]),
		  {:id => 'per-page'})
	  %>件
	  <% if @downloads %>
	    <%= " / #{@downloads.size()} 件" %>
	  <% end %>
	</th>
      </tr>
    </thead>
    <tbody class="list">
      <% @downloads.each_with_index do |download, idx| %>
      <tr>
	<td class="idx"><%= format('%04d', idx + 1) %>:</td>
	<td class="open_at"><%= download.open_at ? I18n.l(download.open_at, format: :long) : "" %></td>
	<td class="name"><%= download.name %></td>
	<td><%= link_to "閲覧", "/#{download.path}", target: :"_blank"  %>
	<td><%= link_to "ダウンロード", act1_download_path(download) %></td>
	<td><%= button_tag "ダウンロード", class: :download,  data: act1_download_path(download) %></td>
	<td><%= link_to "Edit", edit_download_path(download) %></td>
	<td><%= link_to "Destroy", download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paging-sep"></div>
  <div class="paginationBottom paging"></div>
  <div class="paging-sep"></div>
</div>
<br />

<%= link_to 'New Download', new_download_path %>
