<h1>Listing downloads</h1>


<div id="file-list">

  <div>
    <input type="button" class="sort" data-sort="no" value="No. でソートする"></input>
    <input type="button" class="sort" data-sort="open-at" value="公開日 でソートする"></input>
    <input type="button" class="sort" data-sort="name" value="Name でソートする"></input>
    絞込み: <input type="text" class="search">
    　<span id="time"></span>
  </div>

  <div class="pagingTop paging"></div>
  <div class="paging-sep"></div>

  <table class="zebra_stripe">
    <thead>
      <tr>
	<th>No.</th>
	<th>公開日</th>
	<th>Name</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    <tbody class="list">
      <% @downloads.each_with_index do |download, idx| %>
      <tr>
	<td class="no"><%= format('%04d', idx + 1) %>:</td>
	<td class="open-at"><%= download.open_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
	<td class="name"><%= download.name %></td>
	<td><%= link_to "download", act1_download_path(download) %></td>
	<td><input type="button" class="download" value="ダウンロード" data="<%= download.path %>" /></td>
	<td><%= link_to "Edit", edit_download_path(download) %></td>
	<td><%= link_to "Destroy", download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paging-sep"></div>
  <div class="pagingButtom paging"></div>  
  <div class="paging-sep"></div>
</div>
<br />

<%= link_to 'New Download', new_download_path %>
