<h1>Listing downloads (paging by server: Wicegrid)</h1>

<div id="file-list center">

  <div>
    <%= link_to "pagenate by Client", downloads_path %> | 
    <%= link_to "pagenate by Server (Kaminari)", indexKaminari_downloads_path %> | 
    <%= "pagenate by Server(Wicegrid)" %>
    <br/><br/>
    <hr/>
  </div>
  
  <%=
    grid(@downloads_grid, show_filters: :when_filtered) do |g|
    g.column name: t_attr("id"), attribute: "id", filter_type: :range do |download|
      download.id
    end

    g.column name: t_attr("open_at"), attribute: "open_at" do |download|
      I18n.l download.open_at, format: :long
    end

    g.column name: t_attr("name"), attribute: "name" do |download|
      download.name
    end
  
    g.column do |download|
      link_to "閲覧", "/#{download.path}", target: :"_blank"
    end

    g.column do |download|
      link_to "ダウンロード", act1_download_path(download)
    end

    g.column do |download|
      button_tag "ダウンロード", class: :download,  data: act1_download_path(download)
    end

    g.column do |download|
      link_to "Edit", edit_download_path(download)
    end

    g.column do |download|
      link_to("Destroy", download, method: :delete, data: { confirm: 'Are you sure?' })
    end
  end
  -%>

</div>

<br />
<%= link_to 'New Download', new_download_path %>
